<extend name="Public/base"/>
<block name="body">
	<div class="main-title">
		<h2>代理商管理</h2>
	</div>
	<div class="tab-wrap">
		<ul class="tab-nav nav">
			<li class="current"><a href="{:U('index')}">代理商列表</a</li>
			<li><a href="{:U('/Dali/index/1')}">新增代理商</a></li>
		</ul>
		<div class="data-table table-striped">
			<table>
				<thead>
				<tr>
					<th>省/自治区</th>
					<th>地级市</th>
					<th>区/县</th>
					<th>公司名称</th>
				</tr>
				</thead>
				<tbody>	
					<volist name="list" id="l" >
						<tr>
							<td>{$l.province}</td>
							<td>{$l.city}</td>
							<td>{$l.area}</td>
							<td>{$l.company}</td>
						</tr>
					</volist>
				</tbody>
			</table>
		</div>
	</div>
</block>