        <div class="footer">
            <div class="f_left">
                <img src="__IMG__/img/1.jpg">
            </div>
            <div class="f_left">
<!--                 <br/>
                <p>全国服务热线：40002600269</p>
                <p>友情链接：<a href="#">淘宝卓资科技</a></p>
                <p>内蒙卓资科技版权所有 网站备案编号：</p>
                <p>国家专利编号：ZL 2014 2 0873196.0</p>
 -->            </div>
            <div class="f_right">
                <br/>
                <p>全国服务热线：40002600269</p>
                <p>友情链接：<a href="#">淘宝卓资科技</a></p>
                <p>内蒙卓资科技版权所有 网站备案编号：</p>
                <p>国家专利编号：ZL 2014 2 0873196.0</p>
            </div>
            <div class="cl"></div>
        </div>