        <div class="header_wrap">
            <div class="header">
                <div class="f_left" style="background:url('__IMG__/img/1.jpg') no-repeat;background-size:40px 40px">
                    <li><a href="/" style="padding-left:30px;font-size:18px">卓资科技</a></li>
                </div>
                <div class="f_right">
                    <think:nav name="nav">
                        <eq name="nav.pid" value="0">
                        <li>
                            <a href="{$nav.url|get_nav_url}" target="<eq name='nav.target' value='1'>_blank<else/>_self</eq>">{$nav.title}</a>
                        </li>
                        </eq>
                    </think:nav>
                </div>
                <div class="cl"></div>
            </div>
        </div>
