    <style type="text/css">
        .header_wrap{
            background:rgba(0,0,0,0.6);
            height:40px;
            width:100%;
            position:fixed;
            top:0;
            left:0;
            z-index: 999
        }
        .header{
            width:1000px;
            margin:0 auto;
        }
        .header li{float:left;list-style:none}
        .header li a{color:#fff;line-height:40px;text-decoration: none;display:inline-block;margin:0 30px;font-family:"Microsoft Yahei"}
        .f_left{float:left;}
        .f_right{float:right;}
        .cl{clear:both;}
        .footer{width:1000px;margin:0 auto;}
        .footer p{text-align:left}
        .banner ul li{
            position:relative;
        }
        .banner ul li .inner{
            margin-top:-100px;
            top:40%;
            position:absolute;
            text-align:center;
            display: block;
            width:100%;
        }
    </style>
    <link rel="stylesheet" href="__CSS__/style.css">
    <script type="text/javascript" src="__JS__/jquery.min.js"></script>
    <script type="text/javascript" src="__JS__/header.js"></script>
