<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>代理商查询查询</title>
</head>
<body>
    <style type="text/css">
        .features{
            height:250px!important;
        }
        .wrap input{padding:10px;}
        .wrap input[type='text']{width:500px;}
        #search{
              color: #333;
              border: 1px solid #ccc;
              height: 38px;
              display: inline-block;
              line-height: 37px;
              text-decoration: none;
              background: #fff;
              padding: 0px 30px;
        }
    </style>
<include file="Public/head"/>   
<include file="Public/header"/>
<include file="Public/banner"/>

</script>
<div class="features">
	<div class="wrap">
        <h2>防伪码查询</h2>
		<form action="">
			<input type="text" id="c_id">
			<!-- <input type="button" value="防伪查询" id="search"> -->
            <a href="javascript:;" id="search">防伪查询</a>
		</form>
		<div class="msg"></div>
	</div>
</div>
<script>
	$('#search').click(function(){
		var id=$('#c_id').val();
        if(!id){
            alert('请填写防伪码');
            return false;
        }
		$.post('/Home/Search/fangwei_search',{'id':id},function(ret){
			if(ret.status==1){
				alert(ret.msg);
			}else{
				alert(ret.msg);
			}
		},'json');
	});
</script>
<include file="Public/footer"/>
</body>
</html>