<extend name="Public/base"/>

<block name="body">
	<div class="main-title">
		<h2>防伪码管理</h2>
	</div>
	<div class="tab-wrap">
		<ul class="tab-nav nav">
			<li  class="current"><a href="{:U('index')}">新增防伪码</a</li>
			<li><a href="{:U('/Fangwei/index/1')}">防伪码管理</a></li>
		</ul>
		<div>
			<form action="admin.php?s=/Fangwei/add" method="POST">
					
					<input type="text" name="fid" class="text input-large">
					<span class="check-tips">(填写防伪码)</span>
					<br/>
					<br/>
					<input type="submit" value="新增防伪码" id="search" class="btn submit-btn">
			</form>
		</div>
	</div>
</block>